@using IS.Model.Item.Calendar;
@using IS.Model.Service
@model SemesterItem

@{
	ViewBag.Title = "Edit";
}

<style>
	table {
		border: 4px double black; /* Рамка вокруг таблицы */
		border-collapse: collapse; /* Отображать только одинарные линии */
	}

	td:first-child {
		text-align: left; /* Выравнивание по левому краю */
		background: #ccc; /* Цвет фона ячеек */
		padding: 5px; /* Поля вокруг содержимого ячеек */
		border: 1px solid black; /* Граница вокруг ячеек */
	}

	td {
		padding: 5px; /* Поля вокруг содержимого ячеек */
		border: 1px solid black; /* Граница вокруг ячеек */
	}
</style>

<h2>Редактироание персональных данных семестра</h2>

@using (@Html.BeginForm("Update", "Semester"))
{
	@Html.HiddenFor(m => Model.Id)

	<table class="table semester">
		<tr>
			<td>Дата начала семестра</td>
			<td>@Html.EditorFor(m => Model.FromDate)</td>
		</tr>
		<tr>
			<td>Дата конца семестра</td>
			<td>@Html.EditorFor(m => Model.TrimDate)</td>
		</tr>
	</table>
	<input type="submit" value="Сохранить" /><br />
	@Html.ActionLink("Просмотр записи о семестре", "Index", new { id = Model.Id })<br />
	@Html.ActionLink("Отмена", "Index", new { id = Model.Id })
}
@Html.ActionLink("Просмотр списка семестров", "List")
