@using IS.Model.Item.Faculty;
@model FacultyItem

@{
	ViewBag.Title = "Edit";
}

<style>
	table {
		border: 4px double black; /* Рамка вокруг таблицы */
		border-collapse: collapse; /* Отображать только одинарные линии */
	}

	td:first-child {
		text-align: left; /* Выравнивание по левому краю */
		background: #ccc; /* Цвет фона ячеек */
		padding: 5px; /* Поля вокруг содержимого ячеек */
		border: 1px solid black; /* Граница вокруг ячеек */
	}

	td {
		padding: 5px; /* Поля вокруг содержимого ячеек */
		border: 1px solid black; /* Граница вокруг ячеек */
	}
</style>

<h2>Редактирование данных о факультете</h2>

@using (@Html.BeginForm("Update", "Faculty"))
{
	@Html.HiddenFor(m => Model.Id)
	<table class="table faculty">
		<tr>
			<td>Сокращенное название</td>
			<td>@Html.EditorFor(m => Model.ShortName)</td>
		</tr>
		<tr>
			<td>Полное название</td>
			<td>@Html.EditorFor(m => Model.FullName)</td>
		</tr>
	</table>
	<input type="submit" value="Сохранить"/>
	@Html.ActionLink("Просмотр записи о факультете", "Index", new { id = Model.Id })<br />
	@Html.ActionLink("Отмена", "Index", new { id = Model.Id })
}
@Html.ActionLink("Просмотр списка факультетов", "List")