@using IS.Model.Item.Faculty;
@using IS.Mvc.Models
@model List<FacultyItem>

	@{
		ViewBag.Title = "Faculty List";
		Layout = "~/Views/Shared/_Layout.cshtml";
	}

	<style>
		table {
			width: 100%; /* Ширина таблицы */
			border: 4px double black; /* Рамка вокруг таблицы */
			border-collapse: collapse; /* Отображать только одинарные линии */
		}

		th {
			text-align: left; /* Выравнивание по левому краю */
			background: #ccc; /* Цвет фона ячеек */
			padding: 5px; /* Поля вокруг содержимого ячеек */
			border: 1px solid black; /* Граница вокруг ячеек */
		}

		td {
			padding: 5px; /* Поля вокруг содержимого ячеек */
			border: 1px solid black; /* Граница вокруг ячеек */
		}
	</style>

	<h2>Список факультетов</h2>

<table id="faculty">
	<thead>
	<tr>
		<th>Сокрашенное название</th>
		<th>Полное название</th>
		@if (Access.CheckRole("Faculty.Updater"))
		{
			<th></th>
			<th></th>
		}
	</tr>
	</thead>
	<tbody>
	@foreach (var faculty in Model)
	{
		<tr>
			<td>@faculty.ShortName</td>
			<td>@faculty.FullName</td>
			<td>@Html.ActionLink("Просмотр", "Index", new {id = faculty.Id})</td>
			@if (Access.CheckRole("Faculty.Updater"))
			{
				<td>
					@Html.ActionLink("Редактировать", "Edit", new {id = faculty.Id})
				</td>
			}
			@if (Access.CheckRole("Faculty.Updater"))
			{
				<td>
					@Html.ActionLink("Удалить", "Delete", new {id = faculty.Id}, new {onclick = "return confirm('Удалить запись?')"})
				</td>
			}
		</tr>
	}
	</tbody>
</table>

	@if (Access.CheckRole("Faculty.Updater"))
	{
		@Html.ActionLink("Создать запись о факультете", "New");
	}
