@using IS.Model.Item.Task;
@using IS.Model.Item.TaskInfo;
@using IS.Model.Item.Comment;
@using IS.Mvc.Models
@using IS.Mvc.Models.Service
@model TaskInfoItem

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
	table {
		width: 100%; /* Ширина таблицы */
		border: 4px double black; /* Рамка вокруг таблицы */
		border-collapse: collapse; /* Отображать только одинарные линии */
	}

	th {
		text-align: left; /* Выравнивание по левому краю */
		background: #ccc; /* Цвет фона ячеек */
		padding: 5px; /* Поля вокруг содержимого ячеек */
		border: 1px solid black; /* Граница вокруг ячеек */
	}

	td {
		padding: 5px; /* Поля вокруг содержимого ячеек */
		border: 1px solid black; /* Граница вокруг ячеек */
	}

	textarea {
		width: 99%; /* Ширина поля в процентах */
		height: 200px; /* Высота поля в пикселах */
	} 

		.existingComments {
			border: 2px solid lightgrey; /* Рамка вокруг комментария */
			width: 90%; /* Ширина блока комментария */
			margin: 20px auto; /* Отступы от границ комментария снаружи */
			padding: 0px 20px; /* Отступы от текста комментария внутри */
		}
	</style>
<script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/Task/Comment.js")"></script>

	<script>
		$(function () {
			$('#write').click(function() {
				$('#addComment').css('display', 'block');
				$('#write').hide();
			});
		})
	</script>

<h2>@Html.Raw(string.Format("{0}_{1} {2}", Model.Prefix, Model.Number, Model.Header)) (@Html.ActionLink("К списку задач", "List"))</h2>

<table>
	<tr>
		@if (Model.IsPerform)
		{
			<td colspan="2" style="background-color: #32cd32">
				Выполнена
			</td>
		}
		else
		{
			if (string.IsNullOrEmpty(Model.Performer))
			{
				<td colspan="2" style="background-color: #c0c0c0">
					Не назначена
				</td>
			}
			else if (Model.IsOpen)
			{
				<td style="background-color: #ffd700">
					@if (Access.CheckRole())
					{
						@Html.ActionLink("Сдать на проверку", "Pass", new { id = Model.Id })
					}
				</td>
				<td style="background-color: #cccccc">
					В процессе выполнения
				</td>
			}
			else
			{
				<td>
					@if (Access.CheckRole("Task.Updater"))
					{
						<div style="background-color: #ffd700">@Html.ActionLink("Отклонить", "Reject", new { id = Model.Id })</div>
						<div style="background-color: #32cd32">@Html.ActionLink("Принять", "Accept", new { id = Model.Id })</div>
					}
				</td>
				<td colspan="2" style="background-color: #ffd700">
					Ожидает проверки
				</td>
			}
		}
	</tr>
	<tr>
		<td style="width: 100px">
			Заголовок
		</td>
		<td>
			@Html.DisplayTextFor(m => Model.Header)
		</td>
	</tr>
	<tr>
		<td>
			Сложность
		</td>
		<td>
			@Html.DisplayTextFor(m => Model.Difficult)
		</td>
	</tr>
	<tr>
		<td>
			Приоритет
		</td>
		<td>
			@Html.DisplayTextFor(m => Model.Priority)
		</td>
	</tr>
	<tr>
		<td>
			Описание
		</td>
		<td>
			@Html.TextAreaFor(m => Model.Mem)
		</td>
	</tr>
	<tr>
		<td>
			Дата создания
		</td>
		<td>
			@Html.DisplayTextFor(m => Model.Created)
		</td>
	</tr>
	<tr>
		<td>
			Срок
		</td>
		<td>
			@Html.DisplayTextFor(m => Model.Deadline)
		</td>
	</tr>
	<tr>
		<td>
			Исполнитель
		</td>
		<td>
			@Html.DisplayTextFor(m => Model.Performer)
		</td>
	</tr>
	<tr>
		<td>
			Pull request
		</td>
		<td>
			<a href="@Model.PullRequestUrl">@Model.PullRequestUrl</a>
		</td>
	</tr>
</table>

@if (Access.CheckRole())
{
	@Html.ActionLink("Редактировать", "Edit", new {id = Model.Id})
}

@if (Access.CheckRole("Task.Deleter"))
{
	<div align="right">@Html.ActionLink("Удалить", "Delete", new {id = Model.Id})</div>
}

<br>

@foreach (var item in Model.CommentList)
{
	<div class="existingComments">
		<input type="hidden" class="input_comment_id" value="@item.Id"/>
		<p>Автор: <strong>@item.PersonName</strong></p>
		<p>@item.Text</p>
		<p>Добавлен: <strong>@item.AddDate</strong>
		</p>
		@if (Access.CheckRole("Comment.Deleter"))
		{
			<button class="btm_delete">Удалить</button>
		}
	</div>
}

@{
	if (Access.CurrentUser != null)
	{
		var user = new UserService().GetUserByLogin(Access.CurrentUser.Login);

		if (Access.CheckRole() && user.PersonId != null)
		{
			<div id="commentBlock">

			</div>

			<center>
				<div>
					<button id="write">Написать комментарий</button>
				</div>
				<div id="addComment" style="width: 70%; display: none;">
					<form>

						<input type="hidden" value="@user.PersonId" id="author">
						<input type="hidden" value="@user.Name" id="name">
						<input type="hidden" value="@Model.Id" id="task">
						<textarea id="message" cols=100 rows=10></textarea><br>
						<input name="button" type="submit" value="Отправить" id="send"> <span id="resp"></span>

					</form>
				</div>
			</center>

		}
	}
}